.container{}
.row{
    min-height: 24px;
    background-color: #f4f6ff;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,laji
.col-12{
	outline: 1px solid #bbd8ff;
}
.selected_el{
    outline: 1px solid #11b500;
}
.selected_el_info{
	position: absolute;
	display: none;
	width: 0;
	height: 0;
}
.selected_el_info span{
	position: absolute;
	right: -1px;
	bottom:1px;
	display: block;
	min-width:500px;
	text-align: right;
}
.selected_el_info span i{
	background-color: #8BC34A;
	font-size: 11px;
	padding: 2px 5px;
	color: #fff;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.cmdBox{
    position: fixed;
    left: 40%;
    top: 0;
    background-color: #38f9f7;
    padding: 5px;
}
.cmdBox input{
    width: 250px;
    padding: 2px 4px;
}
